.puzzle {
    background-image:url(../files/field.jpg);
    width:500px;
    height:376px;
 }
 
 .piece1 {
    background-position:0 0 ;
    width: 71px;
    height: 190px;
 }
 
 .piece2 {
    background-position:0 179 ;
    width: 149px;
    height: 180px;
 }

 .piece3 {
    background-position:-50px -50px
 }

 .piece4 {
    background-position:-50px -50px
 }